*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* For testing only */
/**:not(body):not(html) {
  border:1px dashed #000;
}*/

/*.columns {
  min-height: 100px !important;
}*/
/* End for testing */
